@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(250, 250, 250);
}

.container {
  width: 100%;
}

.page-header {
  font-size: 1.75rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.article-card-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 80%;
  }
}
