.full-article {
  padding: 0.5rem;
  box-sizing: border-box;
}

.article-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid  rgb(211, 211, 211);
  border-bottom: 1px solid  rgb(211, 211, 211);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.article-info {
  text-align: right;
}

.article-content {
  line-height: 20px;
  font-size: 1.2rem;
}


.author-text {
  font-style: italic;
  margin-bottom: 1rem;
}

.author-name {
  font-style: normal;
  font-weight: 700;
}

.date-text {
  font-style: italic;
  margin-bottom: 1rem;
}

.article-topic {
  font-style: italic;
}

.article-topic-text {
  color: #f4a261;
  font-weight: 700;
}

.date {
  font-weight: 700;
  font-style: normal;
}

.article-votes {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.article-votes > i {
  margin-left: 5px;
  width: 10px;
  color: #000;
}

#upvote, #downvote {
  background: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

.upvoted {
  color: #2a9d8f;
}

.downvoted {
  color: #e76f51;
}