.comment-header {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.comment-card {
  padding: 0.5rem;
  box-sizing: border-box;
  border-top: 1px solid rgb(211, 211, 211);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-body {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}