.comments-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-header {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.comment-card {
  padding: 0.5rem;
  box-sizing: border-box;
  border-top: 1px solid rgb(211, 211, 211);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-body {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

form {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
}

.success, .error {
  background-color: #2a9d8f;
  color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

.error {
  background-color: #e76f51;
}

#comment-text {
  padding: 0.25rem;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid rgb(211, 211, 211);
  border-right: none;
  font-size: 1.2rem;
  outline: none;
  margin: 0.25rem 0;
}

#submit-btn {
  width: 20%;
  border: 1px solid #264653;
  background-color: #264653;
  padding: 0.25rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  border-left: none;
}

#submit-btn:hover {
  background-color: #264653;
}

.delete-cont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#delete {
  background: none;
  border: none;
  font-size: 1.2rem;
  color:rgb(232, 101, 101);
  cursor: pointer;
}

.comment-deleted {
  padding: 0.5rem;
  background-color: rgb(232, 101, 101);
  color: #fff;
  border-radius: 10px;
}